<h1>Add a new board</h1>

<%= form_for @board do |board| %>
    <% if @board.errors.any? %>
        <h2>Errors:</h2>
        <ul>
            <% @board.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
        </ul>
    <% end %>
    <p>
        <%= board.label :title %>
        <%= board.text_field :title %>
    </p>
    <p>
        <%= board.label "Abbreviation (eg 'b' would create board /b)"  %>
        <%= board.text_field :abbr %>
    </p>
    <p>
        <%= board.submit "Add a new board" %>
    </p>
<% end %> 
